/*Se agrega un fondo y se centra la tarejta en la mitad de la página*/
/*Se agrega un fondo con gradiente*/
body{
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
  margin: 0; 
  background: linear-gradient(135deg, #24128a, #e4e3ad)
  
}

/*Se crea la tarjeta con la gradiente de colores más suaves, las medidas y se le agregó un borde para que se vea mejor*/
/*Se agrega una sombra para que resalte sobre toda la página*/
.tarjeta {
  width: 350px;
  height: auto;
  background-color: white;
  background-image: linear-gradient(#22c1c3,#f0a0ea);
  border-radius: 3%;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  box-shadow: 0 3px 5px rgb(163, 141, 216);
}

/*Foto de perfil centrada de forma horizontal*/
.foto-perfil {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: block;
  margin: auto;
}

/*Mi nombre*/
.nombre {
  font-size: 30px;
  color: #333;
  text-align: center;
}

/*Ocupación*/
.titulo {
  font-size: 22px;
  color: white;
  text-shadow: 3px 3px 6px black; /*Se agrega la sombra al texto de un color parecido al del tono superior de la gradiente*/
  font-size: 18px;
  color: white;
  text-shadow: 3px 3px 6px #26ecce; /*Se agrega la sombra al texto de un color parecido al del tono superior de la gradiente*/
}
/*Párrafo con información*/
.descripcion {
  font-size: 17px;
  color: #444;
  text-align: center;
  margin-bottom: 15px;
}
/*Listado de redes - Se centran los botones */
.redes-sociales{
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  list-style: none; 
  padding: 0;
  margin: 0; 
  width: 100%; 
}

/*Estilos de los botones de las redes*/
.redes-sociales button {
  color: rgb(241, 237, 237);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
}

.redes-sociales button.linkedin {
  background-color: #0077b5; 
}

.redes-sociales button.twitter {
  background-color: #1da1f2; 
}

.redes-sociales button.github {
  background-color: #333; 
}

/*Efecto del hoover de los botones*/
.redes-sociales button:hover {
  transform: scale(1.1); 
  opacity: 0.8; 
}

.redes-sociales.linkedin {
  color: #0077b5;
}

.redes-sociales.twitter {
  color: #1DA1F2;
}

.redes-sociales.github {
  color: #333;
}


